@model List<Ephec.Models.Device>
	@{
	ViewData["Title"] = "Home Page";
	}
	<div class="container-fluid">
		<div class="row" style="height:50px"></div>
		<div class="row content">
			<div class="col-sm-9">
				<div id="map"></div>
			</div>
			<div class="col-sm-3">

				@Html.DisplayForModel()

			</div>
		</div>
		<div class="row content">
			<div class="col-sm-9">
				<br />
				<h4>Extra Information</h4>
				<p>Test test test</p>
				<hr />
			</div>
		</div>
	</div>

	@section scripts
	{
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD-j0vF1Of1V_X6OsjU8v8HEzMsyiez7Q&libraries=visualization&callback=initMap"
			async defer></script>
	<script>
		var map, heatmap;
		var result = [];
		var pointArray;

		function initMap() {
			pointArray = new google.maps.MVCArray(result);
			// Create a map object and specify the DOM element for display.
			var map = new google.maps.Map(document.getElementById('map'), {
				center: { lat: 50.668081, lng: 4.611832 },
				zoom: 8
			});
			heatmap = new google.maps.visualization.HeatmapLayer({
				data: pointArray,
				map: map

			});
		}

		function updateMap(id) {
			
			  $.ajax({
				url: '@Url.Action("GetGPSData", "Home")',
				data: { id: id },
				  success: function (data) {
					  for (var i = 0; i < data.length; i++) {
						  pointArray.push(new LatLng(data[i].latitude_value, data[i].longitude_value))
					  }
				  }
			});
		}
	</script>


	}
